*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  background-image: url("../img/town_and_country_heights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Initial style */
.wrapper{
  display: flex;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
}
.main{
  background-color: #e6e6e6;
  margin-left: 264px;

  transition: 0.6s ease;
}
.main-collapsed{
  margin-left: 0px;
  transition: 0.6s ease;

}
#sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 264px;
  min-width: 264px;
  background-color: #064420;
  transition: 0.6s ease;
}
#sidebar.collapsed{
  margin-left: -264px;

}
.main{
  display: flex;
  flex-direction: column;
 
  width: 100%;
  overflow: hidden;
}
.navbar{ 
  background-color: #E4EFE7;
}

/* SIDE BAR */
.sidebar-logo{
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
}
.logo{
  display: flex;
  align-items: center;
}
.sidebar-logo a{
  text-decoration: none;
  color: #FAF1E6;
  font-size: 2rem;
}
.logo-img{
  height: 110px;
}






/*------------------ sidebar collapse button-----------------------*/
#sidebar-toggler-btn{
  border: none;
  background-color: transparent;
}
.sidebar-toggler-left{
 transform: rotate(180deg);
 transition: 0.2s ease;
}


.sidebar-nav{
  flex-grow: 1;
  list-style: none;
  padding-left: 0;
  
}
.sidebar-link{
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  padding: 6px 12px;
}

/* Button left Icon */
.bxs-dashboard,
.bxs-home,
.bxs-dollar-circle,
.bxs-collection,
.bxs-wrench,
.bxs-user-circle,
.bx-history
{
  margin-right: 10px;
  vertical-align: middle;
  font-size: 1.75rem;
}
.sidebar-link,
.bxs-dashboard{
  color: #FDFAF6;
}
/* .sidebar-item:hover{
  background-color: #013b19;
  opacity: 0.;
  transition: 0.2s ease;
} */

/* Chevron up */
.sidebar-link[data-bs-toggle="collapse"]::after{
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;
}
.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
  transform: rotate(45deg);
  transition: all .2s ease-out;
}




/* SIDEBAR DROP DOWN */
.sidebar-dropdown{
  transition: 0.2s ease;
  background-color: #013b19;
}

/* .sidebar-dropdown-toggle{
  background-color: #013b19;
  transition: 0.2s ease;
} */

.btn-dashboard,
.btn-dashboard-dropdown{
  padding: 0px;
  text-align: left;
  position: relative;
  border: 2px solid transparent !important;
}


.btn-dashboard-dropdown:hover,
.btn-dashboard:hover{
  background-color: #013b19;
  transition: 0.2s ease;
}
/* .btn-dashboard-toggle{
  background-color: #013b19;
  transition: 0.2s ease;
} */
.btn-dropdown{
  border: 2px solid transparent !important;
  text-align: left;
}
.btn-dropdown:hover{
  background-color: #3C6E71;
  transition: 0.2s ease;
}
.sidebar-link-dropdown{
  margin-left: 30px;
  text-decoration: none;
  color: #FDFAF6;
}
.rotate-chevron-up{
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.active{
  border-left: 2px solid white !important;
  background-color: #284B63 !important;
  transition: 0.2s ease;
}

.active-dropdown{
  border-left: 2px solid white !important;
  background-color: #3C6E71 !important;
  transition: 0.2s ease;
}
.a{
  background-color: lightblue !important;
}
h2{
  margin: 0;
}
.breadcrumb-item a{
  text-decoration: none;
  color: #3C6E71;
}





/* Data Table */
.header-box{
  height: 55px;
  background-color: white;
 border-top: solid 3px #284B63;
}
.bx-plus{
  vertical-align: middle;
  margin-right: 3px;
}
.body-box{
  background-color: white;
}
.profile-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
}





/* USER REGISTER MODAL */
.input-danger{
  border-color: #dc3545;
}

.input-success{
  border-color: #28a745;
}
.bx-show,
.bx-hide{
  cursor: pointer;
  position: relative;
  float: right;
  margin-left: -70px;
  margin-right: 10px;
}


/* CARD PROFILE */
.card{
  border-top: 3px solid #284B63 ;
}

.divider{
  border-top: 2px solid #6c757d;
}
.profile-photo{
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding: 0;
  border: 3px solid #013b19;
}
.bx-show-changepass {
  cursor: pointer;
  position: relative;
  float: right;
  margin-left: -70px;
  margin-right: 10px;
  margin-top: -27px;
}














