.table-container{
    max-width: 80%;
    margin: auto;
}

.table-container .table{
    border-radius: 30px;
}

.table-container {
    max-height: 80%; /* Set a maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling for the container if needed */
    border-radius: 10px;
    
}

.table-container tr th{
    color: #064420;
}

.table td, .table th {
    white-space: nowrap; /* Prevent text wrapping to the next line */
    overflow: hidden;
    text-overflow: ellipsis; /* Show an ellipsis (...) for overflowed text */
    max-width: 150px; /* Set a maximum width for the content */
}

.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100px;
}

.announcement-title{
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: 0.2s ease;
}
.announcement-title:hover{
    color: #DAD992;
}


/* ANNOUNCEMENT CARD */
.announcement-body{
    background-color:#FAF1E6;
    
}
.announcement-header,
.announcement-footer{
    background-color:#E4EFE7;
} 

