
.btn{
  background-color: #DAD992;
  color: black;
}

thead{
  background-color: aqua;
}

@media (max-width: 768px) {
  .table-responsive {

    text-overflow: ellipsis;
    white-space: nowrap;

  }
}

table th {
  text-overflow: ellipsis;
  white-space: nowrap;
 
  
}
thead tr {
  font-weight: 500;
  color: #999999;
}
