
.carousel-container{
    width: 50%;
    transition: transform 0.3s ease;
}

.carousel-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.carousel{
    display: flex;
    gap: 1rem;
    overflow: hidden;
    
}

.carousel-content{
    height: 400px;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 30px;
    overflow: hidden;
}