

    body{
        min-height: 100vh;
        
        overflow: hidden;
        width: 100%;
        background-image: url("../img/town_and_country_heights.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    nav{
        font-family: 'Poppins', sans-serif;
        width: inherit;
        background-color: #064420;
        color: white;
        height: 60px;
        position: sticky;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 100;
        
    }

    .nav-container{
        width: 90%;
    }

    .user{
        font-size: 1em;
        color: white;
        margin-bottom: 0 !important;
    }
    
    .user p, .logo h3{
        font-size: 1.4em;
        margin-bottom: 0;
    }

    .logo img{
        height: 40px;
    }

    main{  
        min-height: 85vh;
        width: 95%;
        padding: 1rem;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        border-radius: 30px;
        background-color: rgba(6, 68, 32, 0.8);
        color: white;
        font-family: 'Poppins', sans-serif;
        
    }
    /* //carousel */
    /*hover */
    .carousel-container{

        width: 50%;
        transition: transform 0.3s ease;
    }

    .carousel-container:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .arrow:hover{
        cursor: pointer;
        transform: scale(1.5) !important;
    }

    .icon:hover{
          color: #DAD992 !important;
    }

    .arrow-hover-style{
       color: black;
    }

  
    .page-link.disabled {
        cursor: not-allowed;
        opacity: 0.5; 
    }


  

    .top{
        display: flex;
    }
    .arrows{
        justify-content: center;
        align-items: center;
    }
    .arrow span{
        color: white;
        text-decoration: none;
        font-size: 3em;
    }

    .arrow a:hover{
        cursor: pointer;
    }

    .carousel{

        gap: 1rem;
        overflow: hidden;
        
    }
    
    .carousel-content{
        height: 400px;
        background-color: white;
        color: black;
        padding: 1rem;
        border-radius: 30px;
        overflow: hidden;
    }


    .col-title h1{
        font-size: 2em;
    }

    .options{
        width: 80%;
        margin: auto;
    }
    .row .transaction-icon{
        height: 60px;
    }

    .features{
        /* height: 200px;
        width: 200px; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: transform 0.3s ease;
    }
    .features i {
        color: white;
        transition: font-size 0.3s ease; 
    }


    .features:hover {
        cursor: pointer;
        transform: scale(1.2); /* Increase the size on hover */
    }
 
    .row.options:hover .features:not(:hover) {
        transform: scale(1);
    }

    /* RESPONSIVE */

    @media (max-width: 576px){
        .user p{
            font-size: 1em;
        }
        .logo h3{
            font-size: 0.8em;
        }
        body{
            overflow: auto;
        }
        .main-logo img{
            height: 150px;
        
        }
        .features i{
            font-size: 3em;
        }
        .features p{
            font-size: 1em;
        }

        .col-title h1{
            font-size: 1.2em;
        }

        .col-title p{
            font-size: .8em;
        }
        .features i {
            color: black;
            opacity: 100%;
            transition: font-size 0.3s ease; 
        }
        .features:hover, .features:hover i{
            color: #DAD992 !important;
        }
        .carousel-container{
            width: 80%;
            
        }

        
    }

    @media (min-width: 576px) and (max-width:768px){
        .logo h3{
            font-size: 1em;
        }
        body{
            overflow: auto;
        }
        nav{
            height: 60px;
        }
        .features i{
            font-size:2.5em;
        }
        .main-logo img{
            height: 175px;
        
        }
        .features p{
            font-size: 1.2em;
        }
        
        .col-title h1{
            font-size: 1.1em;
        }
        .col-title p{
            font-size: 1em;
        }
        .features i {
            color: black;
            opacity: 100%;
            transition: font-size 0.3s ease;
        }
        
        .features:hover, .features:hover i{
            color: #DAD992 !important;
        }

        .carousel-container{
            width: 80%;
            
        }
 
    }


    @media (min-width: 768px) and (max-width:1200px){
        nav{
            height: 65px;
        }

        .features i{
            font-size: 2.8em;
        }
        .features p{
            font-size: 1.2em;
        }
        .col-title h1{
            font-size: 2em;
        }
        .col-title p{
            font-size: 1.2em;
        }
        .features i {
            color: black;
            opacity: 100%;
            transition: font-size 0.3s ease; 
        }
        .features:hover, .features:hover i{
            color: #DAD992 !important;
        }
        .carousel-container{
            width: 80%;
            
        }


        
    }

    @media (width > 1200px){
        
        .logo img{
            height: 50px;
        }
        nav{
            height: 70px;
        }
        .features i{
            font-size: 2.7em;
        }
        .main-logo img{
            height: 200px;
        
        }

        .features p{
            font-size: 1.7em;
        }

        
        .col-title h1{
            font-size: 3.5em;
        }

        .col-title p{
            font-size: 1.5em;
        }
        .features i {
            color: black;
            opacity: 100%;
            transition: font-size 0.3s ease; 
        }

        .features:hover, .features:hover i{
            color: #DAD992 !important;
        }
 }